[submodule "ios101-project6-tumblr"]
	path = ios101-project6-tumblr
	url = https://github.com/najchris11/ios101-project6-tumblr.git
[submodule "ios101-project5-tumblr"]
	path = ios101-project5-tumblr
	url = https://github.com/najchris11/ios101-project5-tumblr.git
[submodule "ios101-project4-trivia"]
	path = ios101-project4-trivia
	url = https://github.com/najchris11/ios101-project4-trivia.git
[submodule "ios101-project3-trivia"]
	path = ios101-project3-trivia
	url = https://github.com/najchris11/ios101-project3-trivia
[submodule "ios101-project2-wordle"]
	path = ios101-project2-wordle
	url = https://github.com/najchris11/ios101-project2-wordle
[submodule "ios101-project1-wordle"]
	path = ios101-project1-wordle
	url = https://github.com/najchris11/ios101-project1-wordle
[submodule "ios101-prework"]
	path = ios101-prework
	url = https://github.com/najchris11/CodePath-Prework
